<div class="container-sm">
    <h1 class="title">Xóa nhà xuất bản</h1>
    <br>
    <form #form="ngForm" (ngSubmit)="deletencc()" novalidate>
        <!-- Thêm thuộc tính 'novalidate' để ngăn chặn kiểm tra tự động của trình duyệt -->
        <div class="modal-body">
            <div class="form-floating mb-3">
                <label for="name">Tên sản phẩm</label>
                <br><br>
                <div>
                    <input type="text" class="form-control" id="name" [(ngModel)]="a.ten" name="ten" required
                        readonly>
                </div>

            </div>
            <div class="form-floating mb-3">
                <label for="sdt">sdt</label>
                <br><br>
                <div>

                    <input type="text" class="form-control" id="sdt" [(ngModel)]="a.sdt" name="sdt" required
                        readonly>
                </div>
                <div class="form-floating mb-3">
                    <label for="tn">Tiền nhập</label>
                    <br><br>
                    <div>
                        <input type="number" class="form-control" id="tn" [(ngModel)]="a.tiennhap" name="tn"
                            required readonly>
                    </div>

                </div>
                <div class="form-floating mb-3">
                    <label for="ttt">Tiền đã thanh toán</label>
                    <br><br>
                    <div>
                        <input type="number" class="form-control" id="ttt" [(ngModel)]="a.tiendathanhtoan" name="ttt"
                            required readonly>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-dark" (click)="goBack()">Hủy</a>
                <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Xóa</button>
                <!-- Sử dụng thuộc tính [disabled] để ngăn chặn việc nhấp vào nút khi form không hợp lệ -->
            </div>
        </div>
    </form>
</div>