<a type="button" class="btn btn-dark" routerLink="/app-add-phieuchi">
    <i class="fa-solid fa-plus"></i> Thêm phiếu chi
  </a>
  <table class="table table-striped mt-5">
  
    <thead class="thead-dark">
      <tr>
        <!-- Sửa các thẻ <th> để đảm bảo chúng cũng được thiết kế theo Bootstrap -->
        <th scope="col">Số thứ tự</th>
        <th scope="col">Tên phiếu chi</th>
        <th scope="col">Nhân viên</th>
        <th scope="col">Thời gian</th>
        <th scope="col">Tổng tiền</th>
        <th scope="col" colspan="2" class="text-center">Tùy chọn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of list; let i = index">
        <td>{{i +dem+ 1}}</td>
        <td scope="row">{{ a.tenphieuchi }}</td>
        <td scope="row">{{ a.idnhanvien }}</td>
        <td scope="row">{{ a.time }}</td>
        <td scope="row">{{ a.tongtien }}</td>
        <td>
          <a type="button" class="btn btn-outline-dark" [routerLink]="['/app-detail-phieuchi', a.id]">
            <i class="fa-solid fa-eye"></i> Xem
          </a>  
  
        <td>
          <a type="button" class="btn btn-outline-dark" [routerLink]="['/app-delete-phieuchi', a.id]">
            <i class="fa-solid fa-eye"></i> Xóa
        </a>
  
        </td>
      </tr>
    </tbody>
  </table>