<div class="container-sm">
    <h1 class="title">Thêm mới nhà xuất bản</h1>
    <br>
    <form #form="ngForm" (ngSubmit)="addncc()" novalidate>
        <!-- Thêm thuộc tính 'novalidate' để ngăn chặn kiểm tra tự động của trình duyệt -->
        <div class="modal-body">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Nhập tên" [(ngModel)]="a.ten"
                    name="tennhaxb" required>
                <label for="name">Tên sản phẩm</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="sdt" placeholder="Nhập số điện thoại" [(ngModel)]="a.sdt" 
                    name="sdt"  (keypress)="onlyNumber($event)" required>
                <label for="sdt">Số điện thoại</label>
            </div>
            
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-outline-dark" (click)="goBack()">Hủy</a>
            <button type="submit" class="btn btn-dark" [disabled]="form.invalid">Lưu thay đổi</button>
            <!-- Sử dụng thuộc tính [disabled] để ngăn chặn việc nhấp vào nút khi form không hợp lệ -->
        </div>
    </form>
</div>